/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Column widths */
[class*="col-"]
{
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* Mobile Design */

@media only screen and (max-width: 600px) {

    /* Height of body */

    [class*="col-"]
    {
        width: 100%;
    }

    body
    {
        height: 100vh;
        background-color: hsl(180, 67%, 99%);
    }
    
    /* header */

    header
    {
        position: sticky;
        top: -1px;
        z-index: 100; /* So that this shows above everything */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 9%;
        padding: 20px 20px;
    }

    .home-button
    {
        display: inline-block;
    }

    .home-button i
    {
        color: white;
        cursor: pointer;
    }

    .home-button a:visited
    {
        color: white;
    }

    .main-nav
    {
        overflow: hidden;
    }

    .toggle
    {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
        width: 40px;
        height: 35px;
        padding: 4px;
        cursor: pointer;
        overflow: hidden;
    }

    .toggle span
    {
        position: absolute;
        background-color: white;
        width: 24px;
        height: 3px;
        border-radius: 6px;
        transition: 0.5s;
    }

    .toggle.active span
    {
        background-color: white;
    }

    .toggle span:nth-child(1)
    {
        transform: translateY(-8px)
    }

    .toggle.active span:nth-child(1)
    {
        transform: translateY(0px) rotate(45deg);
    }

    .toggle.active span:nth-child(2)
    {
        transform: translateX(40px);
    }

    .toggle span:nth-child(3)
    {
        transform: translateY(8px);
    }

    .toggle.active span:nth-child(3)
    {
        transform: translateY(0px) rotate(315deg);
    }

    .toggle.active
    {
        z-index: 90; /* This is the highes index when .toggle.active is active */
    }

    .main-nav ul
    {
        display: none;
    }

    .main-nav ul li
    {
        list-style-type: none;
        margin-top: 14px;
    }

    .toggle.active ~ ul
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color:hsl(29, 78%, 49%);
        z-index: 80; /* Followed by this */
        left: 0;
        top: 0;
        font-family: 'Source Sans Pro';
        font-size: 22px;
        font-weight: 600;
        color: #fff;
    }


    /* The Slider */

    section
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 91vh;
        border: 1px solid red;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }


    #slider
    {
        height: 100vh;
        justify-content: center;
    }
    
    #slider #landing-1
    {
        position: absolute;
        bottom: 0px;
        max-width: 600px;
        min-width: auto;
        min-height: 100%; 
        left: 0px;
        /* overflow: hidden; */
    }

    #slider .text
    {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        align-self: flex-start;
        top: -1px;
        z-index: 3; /* To place this element just above the background picture */
        /* bottom: 20px; */
    }

    #slider h2
    {
        align-self: flex-start;
        width: 60%;
        color: white;
        font-family: 'Source Serif Pro';
        font-weight: 600;
        font-size: 4.5em;
    }

    #slider p
    {
        font-family: 'Source Serif Pro';
        font-size: 1.4em;
        color: white;
    }


    /* Kurslar Kısmı */
    #kurslar
    {
        flex-flow: row wrap; /* Creating a flex-flow pattern where each element is on a new row */ 
        height: fit-content; /* So that all elements are visible */
        font-family: 'Source Serif Pro';
    }

    #kurslar p
    {
        font-family: 'Source Sans Pro';
        font-weight: 400;
    }

    .sec-Header
    {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 32px;
        margin-bottom: 20px;
        /* border: 1px solid green; */
    }

    .cards
    {
        display: flex;
        margin: 30px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards p
    {
        padding: 0 40px;
        margin: 20px 0;
        text-align: center;
    }

    .grid
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;
        /* border: 1px solid purple; */
    }

    .grid-items
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 100%;
        border: 1px dotted red;
    }
